<!-- Eliana Marostica
      base.html
      created 4/28/18-->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=author content="Andrea Leon, Eliana Marostica, and Parul Kohl">
    <meta name=description content="">
    <meta name=keywords content="">
    <title>CS304 Final Project: Wellesley Project Database</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" href="http://tablesorter.com/themes/blue/style.css" type="text/css" media="print, projection, screen" />
     <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css"/>
  
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>


  </head>
  <body>

  <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
              <li><a href="{{ url_for('index') }}">Home</a>
              <li><a href="{{ url_for('login') }}">Login/Logout</a>
              <li><a href="{{ url_for('profile') }}">Profile</a>
              {% if 'admin' in role %}
                <li><a href="{{ url_for('projectApproval') }}">Approve Pending Projects</a>
              {% endif %}
              {% if 'student' in role %}
                <li><a href="{{ url_for('browseProjects') }}">Browse Projects</a>
                <li><a href="{{ url_for('createProfile') }}">Create/Update Profile</a>
              {% endif %}
              {% if 'client' in role %}
                <li><a href="{{ url_for('viewApplications')}}">View Applications</a>
                <li><a href="{{ url_for('createProject') }}">Create a New Project</a>
              {% endif %}
          </ul>
      </div>
  </nav>

  <center><h1>Wellesley Project Database</h1>
  <div id="content">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <div class="uk-text-primary">{{ message }}</div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith%}
  
  </div>

  </center>

  {% block content %}
     <h2>{{title}}</h2>
  {% endblock %}
  </body>
</html>

