<!-- Eliana Marostica
      base.html
      created 4/28/18-->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=author content="Andrea Leon, Eliana Marostica, and Parul Kohl">
    <meta name=description content="">
    <meta name=keywords content="">
    <title>CS304 Final Project: Wellesley Project Database</title>
    <link rel="stylesheet" type="text/css" href="">
  </head>
  <body>

  <div id="navigation">
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a>
      <li><a href="{{ url_for('login') }}">Login/Logout</a>
      <li><a href="{{ url_for('createProject') }}">Create a New Project</a>
      <li><a href="{{ url_for('createProfile') }}">Create/Update Profile</a>
      <li><a href="{{ url_for('projectApproval') }}">Approve Pending Projects</a>
      <li><a href="{{ url_for('browseProjects') }}">Browse Projects</a>
    </ul>
  </div>

  <div id="content">
  
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <div class="uk-text-primary"><li>{{ message }} </li></div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith%}
  
  </div>

  <h1>Wellesley Project Database</h1>

  {% block content %}
     <h2>{{title}}</h2>
  {% endblock %}
  </body>
</html>

