<!-- Eliana Marostica
     browse.html
     Created 5/11/18
     ** portions of code borrowed from projectApproval.html to match design of output
-->

{% extends "base.html" %}

{% block content %}
  <style scoped>
      .selected { font-weight: bold; }
      table {
              border-collapse: collapse;
      }
      tr {
          border: 2px solid teal;
          padding: 2ex;
      }
      th{
        border: 2px solid teal;
      }
      td{
        border: 2px solid teal;
      }
  </style>
  
  <h1>Browse Projects</h1>
  <h4>Apply to a project by clicking the button with the number in the column labeled "Apply"</h4>

  <h4>Click on a column header to sort the table rows by that column.</h4>

  
  <table class="tablesorter" id="projects-table"> <!--uk-table table-bordered table-striped -->
    <thead>
      <tr>
        <th id="apply">Apply</th>
        <th id="title">Title</th>
        <th id="duration">Duration</th>
        <th id="compensation">Compensation</th>
        <th id="num-students">Number of Students</th>
        <th id="requirements">Requirements</th>
        <th id="description">Description</th>
      </tr>
    </thead>


    <tbody id="project-body">
      {% if projects %}
        {% for project in projects %}

        <tr class="projectsRow">
             <td>
              <form class="projectApply" action="" method="POST">
                    <button class="uk-button" type="submit" name="projectID" value={{project.pid}}>Apply</button></label>
              </form> 
            </td> 
            <td>{{project.name}}</td> 
            <td>{{project.duration}}</td>
            <td>{{project.compensation}}</td>
            <td>{{project.rolesOpen}}</td>
            <td>{{project.requirements}}</td>
            <td>{{project.description}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>  
  </table>

<!-- Table Sorter -->
<script type="text/javascript" src="/static/tablesorter-master/jquery-latest.js"></script>
<script type="text/javascript" src="/static/tablesorter-master/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/tablesorter-master/jquery.tablesorter.widgets.js"></script>

<script>

$(document).ready(function()
  {
    $("#projects-table").tablesorter();
  });

</script>


{% endblock %}    
