<!-- Andrea Leon
     clientProjects.html
     Created 5/18/18
-->

{% extends "base.html" %}

{% block content %}
  <h1>Your Projects</h1>

  <table class="uk-table" id="projectList">
    <tr><th></th><th>Title</th><th>Duration</th><th>Compensation</th><th>Number of Students</th><th>Requirements</th><th>Description</th><th>Approver</th></tr>
    {% if projects %}
      {% for project in projects %}
      <tr class="projectsRow">
          <td>
            <form class="projectChoose" method="POST">
              <input type="hidden" name="projectID" value={{project.pid}}>
              <input class="uk-button" id="deleteButton" name="deleteButton" type="submit" value="Delete">
            </form>
          </td>
          <td>{{project.name}}</td>
          <td>{{project.duration}}</td>
          <td>{{project.compensation}}</td>
          <td>{{project.rolesOpen}}</td>
          <td>{{project.requirements}}</td>
          <td>{{project.description}}</td>
          <td>{{project.approver}}</td>
      </tr>
      {% endfor %}
    {% endif %}
{% endblock %}    
