<!-- Andrea Leon
     projectApproval.html
     Created 5/6/18
-->

{% extends "base.html" %}

{% block content %}
  <style scoped>
      .selected { font-weight: bold; }
      table {
              border-collapse: collapse;
      }
      tr {
          border: 2px solid teal;
          padding: 2ex;
      }
      th{
        border: 2px solid teal;
      }
      td{
        border: 2px solid teal;
      }
  </style>
  
  <h1>Approve Projects</h1>

  <table class="uk-table" id="projectList">
    <tr><th></th><th>Title</th><th>Duration</th><th>Compensation</th><th>Number of Students</th><th>Requirements</th><th>Description</th><th>User</th></tr>
    {% if projects %}
      {% for project in projects %}
      <tr class="projectsRow">
          <td>
            <form data-pid={{project.pid}} class="projectChoose" method="POST">

              <input type="hidden" name="projectID" value={{project.pid}}>

              <input class="uk-button" name="approveButton" type="button" value="APPROVE" style="border: 2px solid blue; background-color: blue; color: white;">
            
            </form>
          </td>
          <td>{{project.name}}</td>
          <td>{{project.duration}}</td>
          <td>{{project.compensation}}</td>
          <td>{{project.rolesOpen}}</td>
          <td>{{project.requirements}}</td>
          <td>{{project.description}}</td>
          <td>{{project.creator}}</td>
      </tr>
      {% endfor %}
    {% endif %}

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <!-- JS code would go here -->
    <script>
      
      $("#projectList").on('click', "[name=approveButton]", function(event) {
        console.log('projectList clicked');
        $target = $(event.target);
        var pid = $target.closest("[data-pid]").attr("data-pid");
        $.post("/projectApprovalAjax/",
              {'pid': pid},
              function(resp){
                console.log(resp['approval']);
                $target.closest(".projectsRow").find(".uk-button").prop("value", "APPROVED");
                $target.closest(".projectsRow").find(".uk-button").css("background-color","green");
                $target.closest(".projectsRow").find(".uk-button").css("border","2px solid green");
              }
        );
      });

    </script>
{% endblock %}    
