<!-- Parul Koul
    viewApplications.html
    Created 5/12/18
    Skeleton of code taken from projectApproval.html
    to maintain consistency in table display
-->

{% extends "base.html" %}

{% block content %}
  <h1>View Applications</h1>

  <table class="uk-table" id="applicationList">
    <tr><th>Project ID</th><th>Applicant ID</th></tr>
    {% if applications %}
      {% for application in applications %}
      <tr class="applicationsRow">
          <td>{{application.pid}}</td>
          <td>{{application.uid}}</td>
      </tr>
      {% endfor %}
    {% endif %}
{% endblock %}    
