<!-- Parul Koul
     profile.html
     Created 5/1/18
-->

{% extends "base.html"%}

{% block content %}

<h1>Update Profile</h1>

<table class="uk-table" id="profile">
<tr><td>Major</td> <td></td></tr>
<tr><td>Programming languages</td> <td></td></tr>
<tr><td>Courses</td> <td></td></tr>
<tr><td>Research experience</td> <td></td></tr>
<tr><td>Internship experiece</td> <td></td></tr>
<tr><td>Background information</td> <td></td></tr>
</table>


  <!-- <form id="profileForm" method="post">
    <p><label for="major">Major: <input type="text" name="major"></label></p>
    <p><label for="prog_languages">Programming languages you have experience with: </label><br>
    <textarea class="uk-textarea" name="prog_languages" rows="2" cols="45" form= "profileForm"></textarea></p>
    <p><label for="courses">Courses: </label><br>
    <textarea class="uk-textarea" name="courses" rows="2" cols="45" form= "profileForm"></textarea></p>
    <p><label for="research_exp">Research experience: </label><br>
    <textarea class="uk-textarea" name="research_exp" rows="2" cols="45" form= "profileForm"></textarea></p>
    <p><label for="internship_exp">Internship experience: </label><br>
    <textarea class="uk-textarea" name="internship_exp" rows="2" cols="45" form= "profileForm"></textarea></p>
    <p><label for="bg_info">Background info: </label><br>
    <textarea class="uk-textarea" name="bg_info" rows="2" cols="45" form= "profileForm"></textarea></p>
    <p><button class="uk-button" type="submit"> Update Profile</button></p>
  </form> -->

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script> 
    
{% endblock%}
