<!-- Parul Koul
     profile.html
     Created 5/1/18
-->

{% extends "base.html"%}

{% block content %}

<style scoped>
    .selected { font-weight: bold; }
    table {
            border-collapse: collapse;
    }
    tr {
        border: 2px solid teal;
        padding: 2ex;
    }
    th{
      border: 2px solid teal;
    }
    td{
      border: 2px solid teal;
    }
</style>

<h1>Profile</h1>

{% if profile %}

<form class="editProfile" action="" method="POST">
    <button class="uk-button" type="submit" name="editProfile">Edit Profile</button></label>
</form> 

<table class="uk-table" id="profile">
    <tr><td>Name</td> <td>{{profile.name}}</td></tr>
    <tr><td>Email</td> <td>{{profile.email}}</td></tr>
    <tr><td>Major</td> <td>{{profile.major}}</td></tr>
    <tr><td>Courses</td> <td>{{profile.courses}}</td></tr>
    <tr><td>Programming languages</td> <td>{{profile.programming_languages}}</td></tr>
    <tr><td>Research experience</td> <td>{{profile.research_experience}}</td></tr>
    <tr><td>Internship experiece</td> <td>{{profile.internship_experience}}</td></tr>
    <tr><td>Background information</td> <td>{{profile.background_info}}</td></tr>
</table>

{% endif %}

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script> 
    
{% endblock%}
